.changePassword-form__container{
    background-color: beige;
    border-radius: 20px;
    padding: 1.5rem;
    width: 100%;
    max-width: 400px;
    height: fit-content;
    position: absolute;
    top: 50%;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    z-index: 2;
}

.changePassword-form__user{
    color: rgb(58, 47, 47);
}

.changePassword-form__h1{
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 1em;
    color: rgb(18, 84, 141);
}

.changePassword-form__container-label__input{
    display: flex;
    gap: .5rem;
    justify-content: center;
    align-items: center;
    margin-bottom: 1em;
}

.changePassword-form__input{
    padding: .5em;
    border: none;
    border-radius: 20px;
}

.changePassword-form__buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2em;
}

/* BUTTONS */

.changePassword-form__button {
  align-items: center;
  background-color: #FFE7E7;
  background-position: 0 0;
  border: 1px solid #FEE0E0;
  border-radius: 11px;
  box-sizing: border-box;
  color: #D33A2C;
  cursor: pointer;
  display: flex;
  font-size: 1rem;
  font-weight: 700;
  line-height: 33.4929px;
  list-style: outside url(https://www.smashingmagazine.com/images/bullet.svg) none;
  padding: 2px 12px;
  text-align: left;
  text-decoration: none;
  text-shadow: none;
  text-underline-offset: 1px;
  transition: border .2s ease-in-out,box-shadow .2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  word-break: break-word;
}

.changePassword-form__button:active,
.changePassword-form__button:hover,
.changePassword-form__button:focus {
  outline: 0;
}


.changePassword-form__button:active {
  background-color: #D33A2C;
  box-shadow: rgba(0, 0, 0, 0.12) 0 1px 3px 0 inset;
  color: #FFFFFF;
}

.changePassword-form__button:hover {
  background-color: #FFE3E3;
  border-color: #FAA4A4;
}

.changePassword-form__button:active:hover,
.changePassword-form__button:focus:hover,
.changePassword-form__button:focus {
  background-color: #D33A2C;
  box-shadow: rgba(0, 0, 0, 0.12) 0 1px 3px 0 inset;
  color: #FFFFFF;
}