.signup-form{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.signup-form__container{
    width: 100%;
    max-width: 800px;
    background-color: rgb(200, 236, 253);
    border-radius: 20px;
    padding: 3em .5em;
}

.signup-form__header{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.4em;
}

.signup-form__icon{
    font-size: 3rem;
    color: #3c4fe0;
}

.signup-form__h1{
    text-align: center;
}

.signup-form__container-label__input{
    height: 450px;
    justify-content: center;
    display: flex;
    gap: 8em;
    margin-bottom: 2em;
}

.signup-form__container-label{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3.5em;
}

.signup-form__container-input{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 300px;
    gap: 2.5em;
    margin-top: 3em;
}

.signup-form__container-label > label{
    font-size: 1.2rem;
    font-weight: 400; 
    color: #000;   
}

.signup-form__container-input > input{
    padding: 10px 10px;
    border-radius: 10px;
    border-style: none;
    border: 1px solid #ccc;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: .9rem;
}

/* CSS */
.signup-form__btn {
  background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
  box-sizing: border-box;
  padding: 1rem .8em;
  color: #fff;
  cursor: pointer;
  font-family: "JetBrains Mono",monospace;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
  width: 100%;
  max-width: 200px;
  display: block;
  margin: auto;
}

.signup-form__btn:focus {
  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.signup-form__btn:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
}

.signup-form__btn:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}